html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

div{
    width: 100%;
    padding: 100px;
}

.one{
    background-color: yellowgreen;
}

.two{
    background-color: yellow;
}

.three{
    background-color: tomato;
}