
    :root{
      --base: #54e294;
      --spacing:20px;
      --blur:  10px;
    }

    img{
        padding: var(--spacing);
        background: var(--base);
        filter: blur(var(--blur));

    }
    .hl{
        color: var(--base);
    }

  body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: "helvetica neue", sans-serif;
    font-size: 30px;
  }
  .controls {
    margin-bottom: 50px;
  }
  input {
    width: 100px;
  }
